/ Navigation
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header.page-scroll
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#page-top"} Jitney in Route
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.hidden
          %a{:href => "#page-top"}
        %li.page-scroll
          %a{:href => "#portfolio"} Portfolio
        %li.page-scroll
          %a{:href => "#about"} About
        %li.page-scroll
          %a{:href => "#contact"} Contact
        / %li.page-scroll
        /   %a{:href => "/users/sign_up"} Register
        / %li.page-scroll
        /   %a{:href => "/users/sign_in"} Login
        %li.page-scroll
          %a{"data-toggle" => "modal", :href => "#registerModal"} Register
        %li.page-scroll
          %a{"data-toggle" => "modal", :href => "#loginModal"} Login
    / /.navbar-collapse
  / /.container-fluid
/ Header
%section#slider
  .container
    .row
      .col-lg-12
      .container-fluid{"ng-controller" => "LandingController"}
        .row
          .col-md-12.col-sm-12.col-xs-12.content
            /= yield
            / begin:slider
            #home
              #home-slider.carousel.slide.carousel-fade{"data-ride" => "carousel"}
                %ol.carousel-indicators
                  %li.active{"data-slide-to" => "0", "data-target" => "#home-slider"}
                  %li{"data-slide-to" => "1", "data-target" => "#home-slider"}
                  /%li{"data-slide-to" => "2", "data-target" => "#home-slider"}
                .carousel-inner
                  .item.active{:style => "background: url(img/image-1.jpg);"}
                    .container
                      .row
                        .col-md-12
                          .carousel-content
                            %h2.animated.fadeInUpBig.text-center.text-black colectifacil
                            %p.animated.rollIn.text-black.text-center
                              %span.text900
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                              %br/
                              %br/
                              %a.btn.btn-green.btn-lg{:href => "#"} consectetur adipisicing elit.
                  .item{:style => "background: url(img/image-2.jpg);"}
                    .container
                      .row
                        .col-md-12
                          .carousel-content
                            %h3.animated.fadeInLeftBig.text-left Compras
                            %p.animated.fadeInDownBig.text-left
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                              %br/
                              repellendus voluptas, quas alias ipsum neque
                            %a.btn.btn-green.btn-lg.animated.fadeInRight{:href => "#"} possimus corporis et nam distinctio
                %a.left.carousel-control{"data-slide" => "prev", :href => "#home-slider"}
                  %i.fa.fa-angle-left
                %a.right.carousel-control{"data-slide" => "next", :href => "#home-slider"}
                  %i.fa.fa-angle-right
                .pattern
            / end:slider
            / / begin:plans
            / #plans.animated.fadeIn
            /   .row
            /     .col-md-12.col-sm-12.col-xs-12
            /       .col-md-4.col-sm-4
            /         .card
            /           .card-title
            /           .card-body
            /       .col-md-4.col-sm-4
            /         .card
            /           .card-title
            /           .card-body
            /       .col-md-4.col-sm-4
            /         .card
            /           .card-title
            /           .card-body
            / / end:plans
            / / begin:app
            / #app.animated.fadeIn
            /   .row.row-one
            /     .col-md-12.col-sm-12.col-xs-12
            /       .col-md-5.col-sm-5.col-xs-5.text-justify.animated.fadeInLeft
            /       .col-md-7.col-sm-7.col-xs-7.animated.fadeInRight
            /         .image-app.text-justify
            /   .row.row-two
            /     .col-md-12.col-sm-12.col-xs-12
            /       .col-md-7.col-sm-7.col-xs-7.animated.rotateInUpLeft
            /         .image-app.text-justify
            /       .col-md-5.col-sm-5.col-xs-5.text-justify.rotateInUpRight
            / / end:app
/ Portfolio Grid Section
%section#portfolio
  .container
    .row
      .col-lg-12.text-center
        %h2 Portfolio
        %hr.star-primary
    .row
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal1"}
          .caption
            .caption-content
              %i.fa.fa-search-plus.fa-3x
          %img.img-responsive{:alt => "", :src => "img/portfolio/cabin.png"}
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal2"}
          .caption
            .caption-content
              %i.fa.fa-search-plus.fa-3x
          %img.img-responsive{:alt => "", :src => "img/portfolio/cake.png"}
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal3"}
          .caption
            .caption-content
              %i.fa.fa-search-plus.fa-3x
          %img.img-responsive{:alt => "", :src => "img/portfolio/circus.png"}
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal4"}
          .caption
            .caption-content
              %i.fa.fa-search-plus.fa-3x
          %img.img-responsive{:alt => "", :src => "img/portfolio/game.png"}
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal5"}
          .caption
            .caption-content
              %i.fa.fa-search-plus.fa-3x
          %img.img-responsive{:alt => "", :src => "img/portfolio/safe.png"}
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal6"}
          .caption
            .caption-content
              %i.fa.fa-search-plus.fa-3x
          %img.img-responsive{:alt => "", :src => "img/portfolio/submarine.png"}
/ About Section
%section#about.success
  .container
    .row
      .col-lg-12.text-center
        %h2 About
        %hr.star-light
    .row
      .col-lg-4.col-lg-offset-2
        %p Freelancer is a free bootstrap theme created by Jitney in Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.
      .col-lg-4
        %p Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!
      .col-lg-8.col-lg-offset-2.text-center
        %a.btn.btn-lg.btn-outline{:href => "#"}
          %i.fa.fa-download
          Download Theme
/ Contact Section
%section#contact
  .container
    .row
      .col-lg-12.text-center
        %h2 Contact Me
        %hr.star-primary
    .row
      .col-lg-8.col-lg-offset-2
        / To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.
        / The form should work on most web servers, but if the form is not working you may need to configure your web server differently.
        %form#contactForm{:name => "sentMessage", :novalidate => ""}
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              %label Name
              %input#name.form-control{"data-validation-required-message" => "Please enter your name.", :placeholder => "Name", :required => "", :type => "text"}
                %p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              %label Email Address
              %input#email.form-control{"data-validation-required-message" => "Please enter your email address.", :placeholder => "Email Address", :required => "", :type => "email"}
                %p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              %label Phone Number
              %input#phone.form-control{"data-validation-required-message" => "Please enter your phone number.", :placeholder => "Phone Number", :required => "", :type => "tel"}
                %p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              %label Message
              %textarea#message.form-control{"data-validation-required-message" => "Please enter a message.", :placeholder => "Message", :required => "", :rows => "5"}
              %p.help-block.text-danger
          %br
            #success
            .row
              .form-group.col-xs-12
                %button.btn.btn-success.btn-lg{:type => "submit"} Send
/ Footer
%footer.text-center
  .footer-above
    .container
      .row
        .footer-col.col-md-4
          %h3 Location
          %p
            3481 Melrose Place
            %br Beverly Hills, CA 90210
        .footer-col.col-md-4
          %h3 Around the Web
          %ul.list-inline
            %li
              %a.btn-social.btn-outline{:href => "#"}
                %i.fa.fa-fw.fa-facebook
            %li
              %a.btn-social.btn-outline{:href => "#"}
                %i.fa.fa-fw.fa-google-plus
            %li
              %a.btn-social.btn-outline{:href => "#"}
                %i.fa.fa-fw.fa-twitter
            %li
              %a.btn-social.btn-outline{:href => "#"}
                %i.fa.fa-fw.fa-linkedin
            %li
              %a.btn-social.btn-outline{:href => "#"}
                %i.fa.fa-fw.fa-dribbble
        .footer-col.col-md-4
          %h3 About Freelancer
          %p
            Freelance is a free to use, open source Bootstrap theme created by
            = succeed "." do
              %a{:href => "http://startbootstrap.com"} Jitney in Route
  .footer-below
    .container
      .row
        .col-lg-12
          Copyright &copy; Your Website 2014
/ Scroll to Top Button (Only visible on small and extra-small screen sizes)
.scroll-top.page-scroll.visible-xs.visible-sm
  %a.btn.btn-primary{:href => "#page-top"}
    %i.fa.fa-chevron-up
/ Portfolio Modals
#portfolioModal1.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h2 Project Title
            %hr.star-primary
              %img.img-responsive.img-centered{:alt => "", :src => "img/portfolio/cabin.png"}
                %p
                  Use this area of the page to describe your project. The icon above is part of a free icon set by
                  = succeed "." do
                    %a{:href => "https://sellfy.com/p/8Q9P/jV3VZ/"} Flat Icons
                  On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
                %ul.list-inline.item-details
                  %li
                    Client:
                    %strong
                      %a{:href => "http://startbootstrap.com"} Jitney in Route
                  %li
                    Date:
                    %strong
                      %a{:href => "http://startbootstrap.com"} April 2014
                  %li
                    Service:
                    %strong
                      %a{:href => "http://startbootstrap.com"} Web Development
                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
                  %i.fa.fa-times
                  Close
#portfolioModal2.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h2 Project Title
            %hr.star-primary
              %img.img-responsive.img-centered{:alt => "", :src => "img/portfolio/cake.png"}
                %p
                  Use this area of the page to describe your project. The icon above is part of a free icon set by
                  = succeed "." do
                    %a{:href => "https://sellfy.com/p/8Q9P/jV3VZ/"} Flat Icons
                  On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
                %ul.list-inline.item-details
                  %li
                    Client:
                    %strong
                      %a{:href => "http://startbootstrap.com"} Jitney in Route
                  %li
                    Date:
                    %strong
                      %a{:href => "http://startbootstrap.com"} April 2014
                  %li
                    Service:
                    %strong
                      %a{:href => "http://startbootstrap.com"} Web Development
                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
                  %i.fa.fa-times
                  Close
#portfolioModal3.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h2 Project Title
            %hr.star-primary
              %img.img-responsive.img-centered{:alt => "", :src => "img/portfolio/circus.png"}
                %p
                  Use this area of the page to describe your project. The icon above is part of a free icon set by
                  = succeed "." do
                    %a{:href => "https://sellfy.com/p/8Q9P/jV3VZ/"} Flat Icons
                  On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
                %ul.list-inline.item-details
                  %li
                    Client:
                    %strong
                      %a{:href => "http://startbootstrap.com"} Jitney in Route
                  %li
                    Date:
                    %strong
                      %a{:href => "http://startbootstrap.com"} April 2014
                  %li
                    Service:
                    %strong
                      %a{:href => "http://startbootstrap.com"} Web Development
                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
                  %i.fa.fa-times
                  Close
#portfolioModal4.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h2 Project Title
            %hr.star-primary
              %img.img-responsive.img-centered{:alt => "", :src => "img/portfolio/game.png"}
                %p
                  Use this area of the page to describe your project. The icon above is part of a free icon set by
                  = succeed "." do
                    %a{:href => "https://sellfy.com/p/8Q9P/jV3VZ/"} Flat Icons
                  On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
                %ul.list-inline.item-details
                  %li
                    Client:
                    %strong
                      %a{:href => "http://startbootstrap.com"} Jitney in Route
                  %li
                    Date:
                    %strong
                      %a{:href => "http://startbootstrap.com"} April 2014
                  %li
                    Service:
                    %strong
                      %a{:href => "http://startbootstrap.com"} Web Development
                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
                  %i.fa.fa-times
                  Close
#portfolioModal5.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h2 Project Title
            %hr.star-primary
              %img.img-responsive.img-centered{:alt => "", :src => "img/portfolio/safe.png"}
                %p
                  Use this area of the page to describe your project. The icon above is part of a free icon set by
                  = succeed "." do
                    %a{:href => "https://sellfy.com/p/8Q9P/jV3VZ/"} Flat Icons
                  On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
                %ul.list-inline.item-details
                  %li
                    Client:
                    %strong
                      %a{:href => "http://startbootstrap.com"} Jitney in Route
                  %li
                    Date:
                    %strong
                      %a{:href => "http://startbootstrap.com"} April 2014
                  %li
                    Service:
                    %strong
                      %a{:href => "http://startbootstrap.com"} Web Development
                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
                  %i.fa.fa-times
                  Close
#portfolioModal6.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h2 Project Title
            %hr.star-primary
              %img.img-responsive.img-centered{:alt => "", :src => "img/portfolio/submarine.png"}
                %p
                  Use this area of the page to describe your project. The icon above is part of a free icon set by
                  = succeed "." do
                    %a{:href => "https://sellfy.com/p/8Q9P/jV3VZ/"} Flat Icons
                  On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
                %ul.list-inline.item-details
                  %li
                    Client:
                    %strong
                      %a{:href => "http://startbootstrap.com"} Jitney in Route
                  %li
                    Date:
                    %strong
                      %a{:href => "http://startbootstrap.com"} April 2014
                  %li
                    Service:
                    %strong
                      %a{:href => "http://startbootstrap.com"} Web Development
                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
                  %i.fa.fa-times
                  Close

/ register modal
#registerModal.portfolio-modal.modal.fade
  .modal-header
    %button.close{"data-dismiss" => "modal"} ×
    %h2 Sign up
    %hr.star-primary
      /%img.img-responsive.img-centered{:alt => "", :src => "img/portfolio/submarine.png"}
      %p
        here you can create an account for login to this website and use all the features that only are avalibles for our users
  .modal-body
    %form#new_user.new_user{"accept-charset" => "UTF-8", :action => "/users", :method => "post"}
      %input{:name => "utf8", :type => "hidden", :value => "✓"}
      %input{:name => "authenticity_token", :type => "hidden", :value => ""}
      .field
        %label{:for => "user_email"} Email
        %br
        %input#user_email{:autofocus => "autofocus", :name => "user[email]", :type => "email", :value => ""}
      .field
        %label{:for => "user_password"} Password
        %em (8 characters minimum)
        %br
        %input#user_password{:autocomplete => "off", :name => "user[password]", :type => "password"}
      .field
        %label{:for => "user_password_confirmation"} Password confirmation
        %br
        %input#user_password_confirmation{:autocomplete => "off", :name => "user[password_confirmation]", :type => "password"}
      .actions
        %input.btn.btn-default{:name => "commit", :type => "submit", :value => "Sign up"}

    /%a{:href => "/users/sign_in"} Log in
    /%br
    %a{:href => "/users/confirmation/new"} Didn't receive confirmation instructions?
    %br
    %button{:onclick => "window.location.href='/users/auth/facebook'", :style => "height: 35px; background: url(img/facebook.png); width: 35px; background-repeat: no-repeat; background-size: contain; margin: 0 auto; border: 0px;"}
    %br
    %button{:onclick => "window.location.href='/users/auth/twitter'", :style => "height: 35px; background: url(img/twitter.png); width: 35px; background-repeat: no-repeat; background-size: contain; margin: 0 auto; border: 0px;"}
    /%a{:href => "/users/auth/twitter", :style => "background: url(img/twitter.png);"}
    %br
    %button{:onclick => "window.location.href='/users/auth/linkedin'", :style => "height: 35px; background: url(img/linkedin.png); width: 35px; background-repeat: no-repeat; background-size: contain; margin: 0 auto; border: 0px;"}
    /%a{:href => "/users/auth/linked_in", :style => "background: url(img/linkedin.png);"}
    %br
    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
      %i.fa.fa-times
      Close

/ Log in modal
#loginModal.portfolio-modal.modal.fade
  .modal-header
    %button.close{"data-dismiss" => "modal"} ×
    %h2 Sign in
    %hr.star-primary
      /%img.img-responsive.img-centered{:alt => "", :src => "img/portfolio/submarine.png"}
      %p
        there u are... how many nights without see ya fella.
  .modal-body
    %form#new_user.new_user{"accept-charset" => "UTF-8", :action => "/users/sign_in", :method => "post"}
      %input{:name => "utf8", :type => "hidden", :value => "✓"}
      %input{:name => "authenticity_token", :type => "hidden", :value => ""}
      .field
        %label{:for => "user_email"} Email
        %br
        %input#user_email{:autofocus => "autofocus", :name => "user[email]", :type => "email", :value => ""}
      .field
        %label{:for => "user_password"} Password
        %br
        %input#user_password{:autocomplete => "off", :name => "user[password]", :type => "password"}
      .field
        %input{:name => "user[remember_me]", :type => "hidden", :value => "0"}
        %input#user_remember_me{:name => "user[remember_me]", :type => "checkbox", :value => "1"}
        %label{:for => "user_remember_me"} Remember me
      .actions
        %input.btn.btn-default{:name => "commit", :type => "submit", :value => "Log in"}
    /%a{:href => "/users/sign_up"} Sign up
    /%br
    %a{:href => "/users/password/new"} Forgot your password?
    %br
    %button{:onclick => "window.location.href='/users/auth/facebook'", :style => "height: 35px; background: url(img/facebook.png); width: 35px; background-repeat: no-repeat; background-size: contain; margin: 0 auto; border: 0px;"}
    %br
    %button{:onclick => "window.location.href='/users/auth/twitter'", :style => "height: 35px; background: url(img/twitter.png); width: 35px; background-repeat: no-repeat; background-size: contain; margin: 0 auto; border: 0px;"}
    /%a{:href => "/users/auth/twitter", :style => "background: url(img/twitter.png);"}
    %br
    %button{:onclick => "window.location.href='/users/auth/linkedin'", :style => "height: 35px; background: url(img/linkedin.png); width: 35px; background-repeat: no-repeat; background-size: contain; margin: 0 auto; border: 0px;"}
    /%a{:href => "/users/auth/linked_in", :style => "background: url(img/linkedin.png);"}
    %br
    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
      %i.fa.fa-times
      Close

/ jQuery
/ %script{:src => "js/jquery.js"}
/ Bootstrap Core JavaScript
/ %script{:src => "js/bootstrap.min.js"}
/ Plugin JavaScript
%script{:src => "http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"}
/%script{:src => "js/classie.js"}
/%script{:src => "js/cbpAnimatedHeader.js"}
/ Contact Form JavaScript
/%script{:src => "js/jqBootstrapValidation.js"}
/%script{:src => "js/contact_me.js"}
/ Custom Theme JavaScript
/ %script{:src => "js/freelancer.js"}