.back
  .container
    .row
      .col-md-5.toppad.pull-right.col-md-offset-3
        %a{:href => "edit.html"} Edit Profile
        %a{:href => "edit.html"} Logout
        %br/
        %p.text-info May 05,2014,03:00 pm
      .col-xs-12.col-sm-12.col-md-6.col-lg-6.col-xs-offset-0.col-sm-offset-0.col-md-offset-3.col-lg-offset-3.toppad
        .panel.panel-info
          .panel-heading
            %h3.panel-title #{current_user.name}
          .panel-body
            %p.text-center En este módulo podras enviarnos tus comentarios acerca de los problemas que has tenido con la aplicación o, con algún usuario chofer en específico
            %p.text-center Te comentamos que, para hacer mas efectivo tu comentario, no olvides otorgar información escencial como: patentes, nombres, fecha u horario.
            .row
              .col-md-3.col-lg-3{:align => "center"}
                %img.img-circle.img-responsive{:alt => "User Pic", :src => "http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png"}/
              /
                <div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                <dl>
                <dt>DEPARTMENT:</dt>
                <dd>Administrator</dd>
                <dt>HIRE DATE</dt>
                <dd>11/12/2013</dd>
                <dt>DATE OF BIRTH</dt>
                <dd>11/12/2013</dd>
                <dt>GENDER</dt>
                <dd>Male</dd>
                </dl>
                </div>
              .col-md-9.col-lg-9
                %table.table.table-user-information
                  = form_for @up, url: {action: "create"}, html: {class: "nifty_form"} do |up|
                    %tbody
                      %tr
                        %td tipo de problema (breve descripción):
                        %td 
                          = up.text_field :type_of_problem
                      %tr
                        %td cuentanos tu problema:
                        %td 
                          = up.text_area :problem, size: "30x6"
                      %tr
                        %td Algún número de contacto
                        %td
                          = up.text_field :phone
                      %tr
                        %td
                        %td
                          = up.submit "Enviar", html: {class: "btn.btn-sm.btn-primary"}
          .panel-footer
            /%a.btn.btn-sm.btn-primary{"data-original-title" => "reportar un prolema", "data-toggle" => "tooltip", :href => "/user_problems/new",:type => "button"}
            /%i.glyphicon.glyphicon-envelope
            /%span.pull-right
            /%span.btn.btn-sm.btn-warning{"data-original-title" => "editar perfil", "data-toggle" => "tooltip", :type => "button"}
            /%i.glyphicon.glyphicon-envelope
            /%a.btn.btn-sm.btn-danger{"data-original-title" => "Remove this user", "data-toggle" => "tooltip", :type => "button"}
            /%i.glyphicon.glyphicon-remove   