<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta name="description"/>
    <meta name="author"/>
    <title>colectifacil</title>
    <!-- Custom Fonts
    -->
    <!--%link{:href => "font-awesome/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}
    -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"></link>
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"></link>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file://
    -->
    <!--[if lt IE 9]
    -->
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="index" id="page-top">
    <!-- Navigation
    -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display
        -->
        <div class="navbar-header page-scroll">
          <button class="navbar-toggle" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Jitney in Route</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling
        -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
<!--             <li class="page-scroll">
              <a href="#portfolio">Portfolio</a>
            </li>
            <li class="page-scroll">
              <a href="#about">About</a>
            </li>
            <li class="page-scroll">
              <a href="#contact">Contact</a>
            </li> -->
            <!-- %li.page-scroll
            -->
            <!--   %a{:href => "/users/sign_up"} Register
            -->
            <!-- %li.page-scroll
            -->
            <!--   %a{:href => "/users/sign_in"} Login
            -->
            <% if current_user == nil %>
              <li class="page-scroll">
                <a data-toggle="modal" href="#registerModal">Registrarse</a>
              </li>
              <li class="page-scroll">
                <a data-toggle="modal" href="#loginModal">Login</a>
              </li>
            <% else %>
              <% if current_user.account_type != nil %>
                <% if current_user.account_type != 1 %>
                  <li class="page-scroll">
                    <%= link_to 'Últimos Recorridos', "/user_histories/#{current_user.id}" %>
                  </li>
                <% else %>
                  <li class="page-scroll">
                    <%= link_to 'Últimos Recorridos', "/user_histories" %>
                  </li>
                  <li class="page-scroll">
                    <%= link_to 'Tipos de cuentas', "/account_types" %>
                  </li>
                  <li class="page-scroll">
                    <%= link_to 'Acreditaciones', "/documents" %>
                  </li>
                <% end %>
              <% end %>
              <li class="page-scroll">
                <%= link_to 'Perfil', "/profile/#{current_user.id}" %>
              </li>
              <li class="page-scroll">
                <%= link_to "Salir", destroy_user_session_path, :method => :delete %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>

